body
{
    background-color: hsl(220,22%,16%);
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    position: relative;
    /* border: 2px solid red; */
    width: 350px;
}

.count-container
{
    /* border: 2px solid hotpink; */
    position: absolute;
    left: 39%;
    padding: 0;
    text-align: center;
    font-family: 'Rubik', monospace;
    color: hsl(151,99%,66%);
}


/* CSS for the button elements */
.next-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */

}

.next-button button
{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-color: hsl(151,99%,66%);
    background-image: url('./images/icon-dice.svg');
    background-position-x: 83px;
    background-position-y: 83px;
}  


/* CSS for the quote elements */
.quote-container
{
    background-color: hsl(218,20%,24%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    text-align: center;
    padding: 10px;
    height: 200px;
}

.quote-container .quote
{
    color: white;
    font-family: 'Rubik', monospace;
    font-size: larger;
}

