body
{
    background-color: rgb(32,38,50);
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    border: 2px solid red;
    width: 200px;
}

.next-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;

}


.quote-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    text-align: center;
    padding: 10px;
    height: 100px;
}

