body
{
    background-color: hsl(220,22%,16%);
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    background-color: hsl(218,20%,24%);
    border: 2px solid red;
    width: 300px;
}

.next-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;

}


.quote-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    text-align: center;
    padding: 10px;
    height: 200px;
}

